@page "/"
@rendermode InteractiveServer
@using System.IO
@using CreateInvoice.Features
@using QuestPDF.Helpers
@inject PdfService PdfService
@inject IJSRuntime JSRuntime

<PageTitle>Home</PageTitle>

<h3>Export PDF Example</h3>
<button @onclick="GeneratePdf">
    Export PDF
</button>

@code {
    private async Task GeneratePdf()
    {
        var pdfBytes = PdfService.GeneratePdf();
        var base64 = Convert.ToBase64String(pdfBytes);
        // Use JavaScript interop to initiate the file download
        await JSRuntime.InvokeVoidAsync("downloadFile", "sample.pdf", base64);
    }
}